form {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 90%;
  margin: 10px auto;
  padding: 0 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: 'Archivo', sans-serif;
}

.formCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

legend {
  font-size: 2em;
  font-weight: 600;

  padding: 20px 0;
}

label {
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 0;

  width: 100%;
  height: 100%;

  color: var(--ion-color-dark);
}

input {
  border: none;
  width: 100%;
  /* margin: 10px 40px; */
  padding-left: 10px;
  border-radius: 10px;
  height: 50px;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color:var(--ion-color-light);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-block {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: 15px;
}

button{
  border: none;

  width: 150px;
  height: 40px;

  border-radius: 5px;
  margin: 12px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--ion-color-light);
  font-size: large;

  transition: background 0.2s; /* transição para o hover */
  background: var(--ion-color-primary);
}

button:hover {
  background: var(--ion-color-primary-shade);
}

ion-header {
  --ion-background-color: var(--ion-color-primary);
}

small.error-message {
  color: var(--ion-color-danger);
  margin-top: 0.7em;
  font-size: 14px;
}

ion-button {
  font-family: 'Archivo', sans-serif;
  font-size: 1.0em;
  text-transform: none;
  width: 150px;
  height: 40px;
}