<ion-content [fullscreen]="true">

  <form>
    <img src="../../assets/images/coroa.svg" alt="Logo da Royal">

    <fieldset>
      <legend>Faça login para acessar o app</legend>

      <div class="input-block">
        <label for="nomeUsuario">Nome de usuário</label>
        <input 
          type="text" 
          id="nomeUsuario"
          name="nomeUsuario"
        [(ngModel)]="email">
      </div>
  
      <div class="input-block">
        <label for="senha">Senha</label>
        <input 
          type="password" 
          id="senha"
          name="senha"
          [(ngModel)]="password">
      </div>
  
      <div class="buttons-login">
        <a (click)="acessAccount()">Iniciar sessão</a>
        <a routerLink="/cadastro">Cadastre-se</a>
        <br><br>
        <a (click)="acessAccount()">Painel</a>
      </div>
    </fieldset>
  
  </form>

</ion-content>

