<ion-content [fullscreen]="true">

  <form>
    <img src="../../assets/images/coroa.svg" alt="Logo da Royal">

    <fieldset *ngIf="!isAuthenticated()">
      <legend>Faça login para acessar o app</legend>

      <div class="input-block">
        <label for="email">Email</label>
        <input 
          type="text" 
          id="email"
          name="email"
        [(ngModel)]="email">
      </div>
  
      <div class="input-block">
        <label for="senha">Senha</label>
        <input 
          type="password" 
          id="senha"
          name="senha"
          [(ngModel)]="password">
      </div>
  
      <div class="buttons-login">
        <ion-button (click)="acessAccount()"> Iniciar sessão </ion-button>
        <ion-button routerLink="/cadastro"> Cadastre-se </ion-button>
      </div>
    </fieldset>

    <fieldset *ngIf="isAuthenticated()">
      <legend>Olá, {{loggedUser.nickName}}!</legend>
      <div class="buttons-login">
        <ion-button (click)="logout()"> Fazer logout </ion-button>
        <ion-button routerLink="/painel"> Painel </ion-button>
      </div>
    </fieldset>
  
  </form>

</ion-content>

