<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon size="large" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="jogos">
      <ion-icon size="large" name="game-controller-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="biblioteca">
      <ion-icon size="large" name="library-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon size="large" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
