<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{game.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-container">
    <div class="imagem-jogo">
      <img [src]="game.imgLandscape" />
    </div>
  
    <div class="texto" [innerHTML]="game.description"></div>
  
    <h3>{{game.price | currency:'BRL'}}</h3>

    <div class="botoes">
      <a (click)="comprar()">Comprar</a>
    </div>
  </div>
</ion-content>
