<ion-content>
  <div class="flex-container" *ngIf="isAuthenticated()">
    <h1>Todos os {{numOfGames}} jogos</h1>
    <ion-row>
      <ion-col size="6" *ngFor="let game of games">
        <div class="jogo-lista">
          <a class="link-jogo" routerLink="/detalhes/{{game.id}}">
            <img src={{game.imgSquare}} />
          <h4>{{game.name}}</h4>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="flex-container" *ngIf="!isAuthenticated()">
    <h1>Logue para ver seus jogos</h1>
  </div>
</ion-content>
