h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0px;
  color: var(--ion-color-dark-tint);
  display:table-cell;
}

.item-painel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.botoes-painel {
  display: flex;
}