<ion-content [fullscreen]="true">
  
  <h1>Destaques</h1>
  <ion-slides [options]="slideOpts">
    <ng-container *ngFor="let game of games">
      <ion-slide *ngIf="game.featured">
        <div class="jogo">
          <a class="link-jogo" routerLink="/detalhes/{{game.id}}">
            <img src={{game.imgPortrait}} />
            <div class="jogo-nome">
              <h4>{{game.name}}</h4>
              <h5>{{game.price | currency:'BRL'}}</h5>
            </div>
          </a>
        </div>
      </ion-slide>
    </ng-container>
  </ion-slides>

  <h1>Mais vendidos</h1>
  <ion-slides [options]="slideOpts">
    <ng-container *ngFor="let game of games">
      <ion-slide *ngIf="game.bestSeller">
        <div class="jogo">
          <a class="link-jogo" routerLink="/detalhes/{{game.id}}">
            <img src={{game.imgPortrait}} />
            <div class="jogo-nome">
              <h4>{{game.name}}</h4>
              <h5>{{game.price | currency:'BRL'}}</h5>
            </div>
          </a>
        </div>
      </ion-slide>
    </ng-container>
  </ion-slides>

  <h1>Novidades e Populares</h1>
  <ion-slides [options]="slideOpts">
    <ng-container *ngFor="let game of games">
      <ion-slide *ngIf="game.trending">
        <div class="jogo">
          <a class="link-jogo" routerLink="/detalhes/{{game.id}}">
            <img src={{game.imgPortrait}} />
            <div class="jogo-nome">
              <h4>{{game.name}}</h4>
              <h5>{{game.price | currency:'BRL'}}</h5>
            </div>
          </a>
        </div>
      </ion-slide>
    </ng-container>
  </ion-slides>
</ion-content>
